.about-kv {
  display: flex;
  margin: 3rem auto 0;
  max-width: 150rem;

  &__list {
    list-style: none;
    width: 100%;
  }

  &__img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
}

.company {
  &-content {
    max-width: 800px;
    margin: 40px auto -20px;
    font-size: 18px;

  }

  &__dlist {
    padding: 20px 0;
    border-bottom: 1px solid $color-black;
    display: flex;
  }

  &__term {
    width: 150px;
  }

  &__text {
    flex: 1;
  }
}
