.section-page {
  display: flex;
  flex-direction: column;
  padding: 12rem 3rem;

  &--gray-light-1 {
    background-color: $color-grey-light-1;
  }

  &--book {
    background-image: linear-gradient(
                  to right,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8));
  }

  @include respond(tab-port) {
    padding: 6rem 2rem;
  }
  
  &-title {
    margin: 0 auto;
    text-align: center;
  }

  &-body {
    max-width: 100rem;
    margin: 3rem auto 0;

    p {
      margin-top: 2rem;
    }
  }
}