<%- include('_header.html.ejs') %>
    <header class="header">
        <div class="header__logo-box">
            <a href="/"><img src="../img/logo-white.png" alt="logo" class="header__logo"></a>
        </div>
        <div class="header__inner">
            <h1 class="page-heading--primary">お問い合わせ</h1>
        </div>
    </header>
    <main>
        <section class="section-page section-page--book">
            <%- include('part/_book_form.html.ejs') %>
        </section>
    </main>
    <%- include('_footer.html.ejs') %>